@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;700&display=swap");
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:visited {
  color: inherit;
}
a:link {
  color: inherit;
  text-decoration: none;
}
:root {
  --primary-color-main: #058d7d;
  --primary-color-darker: #0e5f55;
  --primary-color-light: #13b09e;
}
/* HEADER*/
header {
  background-color: #1d1d1d;
  font-size: 16px;
  font-weight: bold;
}

ul.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
ul.navigation li {
  color: white;
  padding-block: 16px;
  list-style: none;
  margin-left: 16px;
}
ul.navigation li:hover {
  color: var(--primary-color-main);
  cursor: pointer;
}
/*MAIN*/
main {
  background-color: #1d1d1d;
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  padding-left: 64px;
}
main div.introduction {
  margin-right: 72px;
}
/*SECTION PRESENTATION*/
section.presentation {
  padding-bottom: 16px;
}
section.presentation h1 {
  color: var(--primary-color-main);
  font-size: 40px;
  font-family: "Sono";
}
section.presentation p {
  color: white;
}
/* SECTION ABOUT ME*/
section.about-me {
  padding-bottom: 16px;
}
section.about-me button {
  font-family: "Roboto";
  height: 40px;
  width: 80px;
  padding-inline: 4px;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--primary-color-light);
  background-color: #2a2a2a;
  color: white;
}
section.about-me button:hover {
  background-color: var(--primary-color-main);
  cursor: pointer;
}
/* SECTION social-MEDIA*/
section.social-media img:hover {
  cursor: pointer;
}
/* SECTION IMAGE */
